@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
/*variaveis(Paleta de cor)*/
:root{
--cor1: #15BF8F;
--cor3: #e9f2f9;
--cor4: #3C3C40;
--cor5: #05F26C;
--cor6: #202020;
--cor7: #cfcfcf;
--cor8: #242424;
}
html, body{
    margin: 0;
    padding: 0;
    border: none;
    background-color: var(--cor6);

}


html, body, .calc_layout, .c_buttons, .n_btn, .o_btn, #c_tela, #btn_0{
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: var(--cor3);
    border-color: var(--cor6);
}

header{
    display: flex;
    align-items: center;
    margin-top: 0;
    width: 100%;
    height: 3em;
    justify-content: center;
    background-color: var(--cor5);
    color: black;
}
.calc_layout{
    margin-top: 2.5em;
    margin-left: auto;
    margin-right: auto;
    width: 23em;
    height: 30em;
    align-self: center;
    border: groove 0.1px;
    border-radius: 1.5%;
    border-color: var(--cor8);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color:var(--cor8);
}

#c_tela{
    padding: 0;
    display: flex;
    margin: 0.9em auto 1em auto;
    align-self: flex-start;
    width: 96%;
    height: 2em;
    border-width: 0.01em;
    border-radius: 1%;
    font-size: 25px;
    border-color: var(--cor3);
}

.c_buttons{
    display: grid;
}

.n_btn{
    margin: 0.3em;
    width: 6em;
    height: 5em;
    background-color: var(--cor8);
    border-radius: 5%;
    border-width: 0.1em;
    cursor: pointer;

}

._0{
    margin: 0.3em;
    width: 13em;
    height: 5em;
}

._ig{
    height: 11em;
}

._1{
    grid-area: _1;
}
._2{
    grid-area: _2;
}
._3{
    grid-area: _3;
}
._ig{
    grid-area: _ig;
}
._0{
    grid-area: _0;
}
._del{
    grid-area: _del;
}

.linha_4e5{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "_1 _2 _3 _ig"
    "_0 _0 _del _ig"
    ;
}

.n_btn:active{
    color: var(--cor7);
}

